@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;600&family=Fira+Code:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Assistant', 'sans-serif';
}

.index-main {
    margin: auto;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-rows: auto auto;
}

.index-logo {
    width: 50%;
    margin: 10vh 0vw 5vh 0vw;
}

.index-motto {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: #4c566a;
}

.top-bar {
    background-color: #4C566A;
    display: grid;
    grid-template-columns: auto;
    box-shadow: 0px 3px 5px #B9B9B9;
    align-items: center;
}

.top-bar-item {
    display: inline-box;
    color: #ECEFF4;
    text-decoration: none;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-weight: 300;
    margin: clamp(1.5rem, 2.5vw, 2.5rem);
}

.top-bar-left {
    display: grid;
    justify-self: start;
    align-items: center;
    align-self: center;
    grid-template-columns: auto auto;
    column-gap: 5vw;
}

.top-bar-logo {
    justify-self: start;
    padding: 1.5rem 0vw 1.5rem 3vw;
}

.logo {
    height: clamp(1.8rem, 3vw, 3rem);
    font-size: clamp(1.8rem, 3vw, 3rem);
    pointer-events: none;
}

.top-bar-login {
    justify-self: end;
    padding: 0vh 3vw 0vh 0vw;
}

.piecelist-outer {
    padding: 3vh 3vw 3vh 3vw;
    height: auto;
    width: clamp(100px, 90vw, 1000px);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: auto auto;
}

.piecelist-box {
    padding: 3vh 3vw 3vh 3vw;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.piecelist-box table {
    width: 100%;;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #B9B9B9;
}

.piecelist-box th {
    font-size: clamp(1.5rem, 1.8vw, 2.2rem);
    font-weight: bold;
    text-align: left;
    padding: 1vh 0vw 1vh 1vw;
    width: 50%;
    border: 1px solid #d8dee9;
    color: #eceff4;
    background-color: #81a1c1;
}

.piecelist-box tr {
    background-color: #e5e9f0;
}

.piecelist-box tr:nth-child(even) {
    background-color: #eceff4;
}

.piecelist-box td {
    width: 50%;
    border: 1px solid #d8dee9;
    padding: 1vh 0vw 1vh 1vw;
}

.piecelist-box a {
    color: #5E81AC;
}

.piecelist-box a:visited {
    color: #5E81AC;
}

.piecelist-artist {
    font-size: clamp(1.2rem, 1.4vw, 1.8rem);
    font-style: italic;
}

.piecelist-navigator {
    display: grid;
    grid-template-columns: 50% 50%;

    align-items: center;
    justify-content: center;

    padding: 3vh 3vw 3vh 3vw;

    height: auto;

    width: 60%;

    margin-left: auto;
    margin-right: auto;
}

.piecelist-navigator p {
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
}

.piecelist-navigator a {
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
}

.piecelist-navigator a {
    color: #5E81AC;
}

.piecelist-navigator a:visited {
    color: #5E81AC;
}

.piecelist-title {
    font-size: clamp(1.2rem, 1.4vw, 1.8rem);
    text-decoration: none;
}

.piece-box {
    padding: 3vh 0vw 3vh 3vw;
    display: inline-block;
    text-align: left;
}

.piece-title {
    font-size: clamp(1.5rem, 1.8vw, 2.2rem);
    font-weight: bold;
}

.piece-artist {
    font-size: clamp(1.4rem, 1.4vw, 1.8rem);
    font-style: italic;
}

.chords-box {
    padding: 2vh 0vw 0vh 0vw;
}

.chords {
    font-family: 'Fira Code', monospace;
    font-size: clamp(1rem, 1.2vw, 1.3rem);
}

#submit-container {
    width: clamp(30rem, 70vw, 60rem);;
    height: 80vh;
    margin: 3vh auto;
    justify-items: center;
    display: grid;
}

#submit-container div, input, form {
    display: block;
    width: 100%;
}

#submit-container textarea {
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
}

#submit-container h2 {
    display: block;
    text-align: center;
    color: #4c566a;
    font-size: clamp(1.4rem, 1.8vw, 2rem);
}

#submit-container label {
    display: block;
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
    color: #4c566a;
    align-self: start;
}

#piece-submit {
    width: 10rem;
    height: 4rem;
    border: #4c566a solid;
    background: none;
    margin: 2rem auto;
}
