 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% if self.title() %}
      <title>{% block title %}{% endblock %} - Chordful</title>
    {% else %}
      <title>Chordful</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon"/>
  </head>
  <body>
  <div class="top-bar">
    <div class="top-bar-left">
      <div class="top-bar-logo">
        <a href="/" style="display: inline-block; width: 100%; height: 100%">
          <object type="image/svg+xml"
                  data="{{ url_for('static', filename='logo.svg') }}"
                  class="logo">
            Chordful
          </object>
        </a>
      </div>

      <div>
        <a class="top-bar-item" href="/pieces">Pieces</a>
        <a class="top-bar-item" href="/submit/chords/">Submit</a>
      </div>
    </div>
    <!--<div class="top-bar-item"><a href="">Search Bar</a></div>-->
    <!--<div class="top-bar-login"><a href="">Login</a></div>-->
  </div>
  {% block content %}{% endblock %}
  </body>
</html>
