{% extends 'base.html.jinja' %}}

{% block content %}
  <div class="index-main">
      <object type="image/svg+xml" data="{{ url_for('static', filename='logo-dark.svg') }}" class="index-logo">Chordful</object>
      <h1 class="index-motto">Manage your chords. Share them with the world.<h1>
  </div>
{% endblock %}
